<div class="container">
    <div class="row">
        <div class = "col">{{ ratingGroup[0]['ratingName'] }}</div>
        <div class = "col">{{ ratingGroup[0]['previousRating'] }}</div>
        <div class = "col">{{ ratingGroup[0]['currentRating'] }}</div>
        <div class = "col">
            <fa-icon [icon]="ratingGroup[0]['icon']" class="{{ ratingGroup[0]['class'] }}"></fa-icon>
        </div>
    </div>
    <div class="row">
        <div class = "col">{{ ratingGroup[1]['ratingName'] }}</div>
        <div class = "col">{{ ratingGroup[1]['previousRating'] }}</div>
        <div class = "col">{{ ratingGroup[1]['currentRating'] }}</div>
        <div class = "col">
            <fa-icon [icon]="ratingGroup[1]['icon']" class="{{ ratingGroup[1]['class'] }}"></fa-icon>
        </div>
    </div>
    <div class="row">
        <div class = "col">{{ ratingGroup[2]['ratingName'] }}</div>
        <div class = "col">{{ ratingGroup[2]['previousRating'] }}</div>
        <div class = "col">{{ ratingGroup[2]['currentRating'] }}</div>
        <div class = "col">
            <fa-icon [icon]="ratingGroup[2]['icon']" class="{{ ratingGroup[2]['class'] }}"></fa-icon>
        </div>
    </div>
</div>


